.CodePanel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.CodePanel h2 {
  text-align: center;
}


.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.searchBox button {
  background-color: #1a4375;
  border: 1px solid #1a4375;
  border-radius: 5px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  cursor: pointer;
  transition: border-color 0.5s;
  width: 20%;
  height: 90%;
}

.searchBox button:hover,
.searchBox button:active
{
  background-color: #ffffff;
  color: #163760;
  border-color: #163760;
  box-shadow: 1px 1px 10px 2.5px rgba(0, 0, 0, 0.2);
}


.searchinput {
  border:1px solid #163760;
  border-radius: 5px;
  text-align: center;
  width: 75%;
  height: 80%;
  letter-spacing: 1px;
}

.searchinput:hover {
  cursor: default;
}

.searchinput:focus {
  outline: none;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.status {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #163760;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 2px;
}



@media (max-width: 800px) {
  .buttons_container {
    gap: 5%;
  }

}